/*--------------------------------------------*/
/*footer-head*/
.footer-container {
    background-color: rgb(41, 41, 41);
    min-height: 689px;
    max-width: 1483px;
}
.header-footer {
    padding: 15px 0px;
}
.nav-footer {
    margin: 50px 0px 10px 250px;
}
@media (max-width:1187px){
    .nav-footer {
        margin: 50px 0px 10px 145px;
    }
}
.nav-footer a {
    text-decoration: none;
    padding: .7rem;
}
.nav-footer .gray {
    color: rgb(128, 128, 128);
}
.nav-footer .white {
    color: rgb(255, 255, 255);
}
.nav-footer a:hover {
    color: rgb(255, 255, 255);
}
/*footer rows*/
.box-footer {
    display: flex;
    margin-left: 165px;
    font-size: .8rem;
    margin-top: 20px;
}
@media (max-width: 1187px){
    .box-footer {
        display: flex;
        flex-wrap: wrap;
        margin-left: 55px;
        font-size: .8rem;
        margin-top: 20px;
    }
}
.rows {
    margin-left: 50px;
}
.header-rows-footer {
    margin-left: 45px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: .9rem;
}
.header-rows-footer::after{
    content: "";
    display: block;
    background: gray;
    width: 9.5rem;
    height: .5px;
    position: relative;
    top: 1rem;
    margin-bottom: 28px;
}
ul .row-footer {
    list-style-type: none;
    line-height: 20px;
    padding: 5px
}
ul .row-footer a:hover {
    color: rgb(255, 255, 255);
}
ul .row-footer a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
/*copy right*/
.copy-right {
    margin-bottom: 0px;
    margin-left: 220px;
}
@media (max-width: 1187px){
    .copy-right {
        margin-bottom: 0px;
        margin-left: 105px;
    }
}
.header-copy-right{
    margin-left: 45px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: .9rem;
}