.hero{ 
    display: flex;
    padding-left: 3rem;
    padding-top: 3rem;
    width: 268.5vh; 
  }
  .inspire{
    font-size: 30px;
  }
  .read {
      padding-left: 3rem;
      width: 10rem;
  }
  .read {
      color: var(--gray);
      border: 2px solid var(--gray);
      font-weight: bold;
      text-decoration: none;
      line-height: 40px;   
  }
  .read .button.gray:hover {
      background: var(--gray);
      color: var(--white, white);
  }