.highlights .boxes {
  display: flex;
  background: gray;
}

.highlights .box-1 {
  height: 400px;
  background: yellow;
}

.highlights .box-2 {
  height: 300px;
  background: blue;
}

.highlights .quoted-text {
  font-size: 25px;
  margin-bottom: 2rem;
}
