.header{
    
  display: flex;
  flex-direction: column;
  
  justify-content: space-between; 
  font-size: 15px;
  width: 1587px;
   height: 90px;
}
.lists{
 display: flex;
 justify-content: space-between; 
 font-size: 12px;
 align-items: center;
 height: 77px;
 
}
.search-icon{
 width: 2em;
 height: 2em;
}
.logo{
 display: flex;
 padding-top: 6rem;
}
 .vertical-line{
   border:  .025rem solid #4455;
   height: 31px;   
 }
.globe{
  image-resolution: 10px;
  width: 2em;
  height: 2em;
}