*{
    box-sizing: border-box;
}

:root {
    --black: #262626;
    --gray: #4d4d4d;
    --white: #ffffff;
}

html, body {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    margin: 0;    
    display: flex;
    flex-direction: column;   
    
  max-width: 1130px;
}
.header{
    
   display: flex;
   flex-direction: column;
   border: 1px ;
  justify-content: space-between; 
  font-size: 15px;
  height: 50px;
 width: 1137px;
  
  width: 1130px;
}
.lists{
  display: flex;
  justify-content: space-between; 
  font-size: 12px;
  align-items: center;
  height: 50px;
  
  
}
.search{
    
    font-size: 20px;
   
     
  }
.logo{
  display: flex;
  background: white;
  padding-top: 7rem
}
  .vertical-line{
    border:  .025rem solid #4455;
    height: 31px;
    width: px;
  }
.globe{
  
  font-size: 20px;
  
  text-decoration: none;
}

.hero{
  
  display: flex;
  padding-left: 3rem;
  padding-top: 3rem;
  height: 400px;
  height: 1130px;
  
}
.inspire{
  font-size: 30px;
}
.read {
    padding-left: 3rem;
    width: 10rem;
}
.read {
    color: var(--gray);
    border: 2px solid var(--gray);
    font-weight: bold;
    text-decoration: none;
    line-height: 40px;
    
    
}
.read .button.gray:hover {
    background: var(--gray);
    color:var(--white, white);
}
.boxes{
  display: flex;
  background: gray;
  
  
  
}
.box-1{  
  height: 400px;
  
  width: 565px;
  border-right: 1px solid black;
  background: yellow;
}
.box-2{
 height: 300px;
  border: 1px solid black;
  width: 565px;
  
  
  background: blue;
}
.quoted-text{
  font-size: 25px;
  margin-bottom: 2rem;
}